#top {
   width:1000px;
   margin:0 auto;
   padding:10px;
   background-color:#E7DFCE;
   overflow: hidden;
}
#logo {
  float:left;
  margin-left: 50px;
}
/*header情報*/
#header {
   width:740px;
}
#header h1 {
   margin:0;
   padding:0;
   font-size:32px;
   color:#fff;
   line-height:80px;
}
#header h1 a {
   color:#624643;
}
#header h1 a:hover {
   color:#AE847F;
}
/*menu情報*/
#menu {
   width:1000px;
}
#menu ul {
   margin:0;
   padding:0;
}
#menu li {
   float:left;
   color:#333;
   text-align:center;
   list-style-type:none;
}
#menu li a {
   display:block;
   width:200px;
   padding:10px 0;
   color:#fff;
   background-color:#200700;
}
#menu li a.active {
   display:block;
   width:148px;
   padding:10px 0;
   color:#fff;
   background-color:#3f1508;
}
#menu li a:hover {
   color:#ddd;
   background-color:#3f1508;
}
/* 回り込み解除 */
#menu ul:after {
   content:"";
   display:block;
   height:0;
   clear:both;
   visibility:hidden;
}
a{
    text-decoration: none;
}
body{
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, sans-serif;
}
button {
    margin-left: 3.5em;
}
div.text{
  font-size:18px;
  font-family:"ＭＳ Ｐ明朝,ＭＳ 明朝",serif ;
  color:#AAAAAA;
  position: relative;
  top:15px;
  left:150px;
}
div.box1{
 position:relative;
 top:50px;
 left:290px;
 width:400px;
 height:100px;
 padding:10px;
 font-size:16px;
 border-style:ridge;
 background:white;
 opacity:0.7;
}
form{
  margin: 0 auto;
    width: 500px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
form div + div {
    margin-top: 1.2em;
}
input, textarea {
    font: 1em sans-serif;
    width: 350px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}
input:focus, textarea:focus, select:focus {
    border-color: #000;
}
label {
    display: inline-block;
    width: 90px;
    text-align: right;
}
select{
    font: 0.7em sans-serif;
    width: 350px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}
textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}
.button {
    padding-left: 90px;
}
.footer{
  float:left;
  width:1000px;
  height:35px;
  text-align: center;
  background-color: #3f1508;
  margin-top: 120px;
  font-size:16px;
  text-align: center;
  color: white;
  padding-top: 13px;
}
.option{
    color: #171790;
}
.pig {
  position:absolute;
  top:840px;
  left:790px;
}
.tellphone{
  position:absolute;
  top:40px;
  left:80px;
  font-size: 30px;
  color:#110022;
  border: solid 3px #364e96;
  padding:0.3em;
  border-radius: 0.5em;
  cursor: pointer;
}
.tellphone:hover{
  color: #ff0000;
  border: solid 3px #ff0000;
}
