#top {
   width:1000px;
   margin:0 auto;
   padding:10px;
   background-color:#E7DFCE;
   overflow: hidden;
}
/*header情報*/
#header {
   width:740px;
}
#header h1 {
   margin:0;
   padding:0;
   font-size:32px;
   color:#fff;
   line-height:80px;
}
#header h1 a {
   color:#624643;
}
#header h1 a:hover {
   color:#AE847F;
}
/*ロゴ*/
#logo {
  float:left;
  margin-left: 50px;
}
/*menu情報*/
#menu {
   width:1000px;
}
#menu ul {
   margin:0;
   padding:0;
}
#menu li {
   float:left;
   color:#333;
   text-align:center;
   list-style-type:none;
}
#menu li a {
   display:block;
   width:200px;
   padding:10px 0;
   color:#fff;
   background-color:#200700;
}
#menu li a.active {
   display:block;
   width:148px;
   padding:10px 0;
   color:#fff;
   background-color:#3f1508;
}
#menu li a:hover {
   color:#ddd;
   background-color:#3f1508;
}
/* 回り込み解除 */
#menu ul:after {
   content:"";
   display:block;
   height:0;
   clear:both;
   visibility:hidden;
}
a{
  text-decoration: none;
}
body{
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, sans-serif;
}
h3{
  color:#000000;
  border-bottom:solid #b22222;
}
img{
  width: 35vh;
  height: auto;
  cursor: pointer;
}
.footer{
  float:left;
  width:1000px;
  height:35px;
  text-align: center;
  background-color: #3f1508;
  margin-top: 70px;
  font-size:16px;
  text-align: center;
  color: white;
  padding-top: 13px;
}
