#top {
  overflow: hidden;
   width:1000px;
   margin:0 auto;
   padding:10px;
   background-color:#E7DFCE;
}
#logo {
  float:left;
  margin-left: 50px;
}

/*header情報*/
#header {
   width:740px;
}
#header h1 {
   margin:0;
   padding:0;
   font-size:32px;
   color:#fff;
   line-height:80px;
}
#header h1 a {
   color:#624643;
}
a{
    text-decoration: none;
}
#header h1 a:hover {
   color:#AE847F;
}
/*menu情報*/
#menu {
   width:1000px;
}
#menu ul {
   margin:0;
   padding:0;
}
#menu li {
   float:left;
   color:#333;
   text-align:center;
   list-style-type:none;
}
#menu li a {
   display:block;
   width:200px;
   padding:10px 0;
   color:#fff;
   background-color:#200700;
}
#menu li a.active {
   display:block;
   width:148px;
   padding:10px 0;
   color:#fff;
   background-color:#3f1508;
}
#menu li a:hover {
   color:#ddd;
   background-color:#3f1508;
}
/* 回り込み解除 */
#menu ul:after {
   content:"";
   display:block;
   height:0;
   clear:both;
   visibility:hidden;
}
.box{
  float:left;
  width: 250px;
  height: 500px;
  font-size:18px;
  border-style: ridge;
  margin-left: 650px;
  padding-left: 30px;
  padding-right: 20px;
  color:#696969;
}
.box1{
  float:left;
  margin-left: 100px;
  width:270px;
  height:50px;
  padding:10px;
  font-size:16px;
  border-style:ridge;
  opacity:0.7;
  text-align: center;
  padding-top: 25px;
  height: 25px;
  padding-bottom: 20px;
}
.box2{
  float:left;
  width:500px;
  height:25px;
  padding:10px;
  font-size:16px;
  border-style:ridge;
  opacity:0.7;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 20px;
}
.box3{
  float: left;
  width: 250px;
  height: 500px;
  font-size:18px;
  border-style: ridge;
  margin-top: 97px;
  margin-left: 650px;
  margin-bottom: 50px;
  padding-left: 30px;
  padding-right: 20px;
  color:#696969;
}
.footer{
  float:left;
  width:1000px;
  height:35px;
  text-align: center;
  background-color: #3f1508;
  margin-top: 70px;
  font-size:16px;
  text-align: center;
  color: white;
  padding-top: 13px;
}
.history{
  padding-left: 50px;
  margin-top: 550px;
  top:10px;
  left:69px;
  font-size:23px;
  font-family:"ＭＳ ゴシック",sans-serif;
}
.picture1{
  padding-left: 30px;
  padding-top: 20px;
  width: 560px;
  height: 500px;
}
.picture2{
  padding-left: 30px;
  padding-top:100px;
  width: 560px;
  height: 500px;
}
.pig {
  position:absolute;
  top:50%;
  left:50%;
}
body{
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, sans-serif;
}
img{
  cursor: pointer;
}
