body {
  cursor: url(tonchan.png);
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, sans-serif;
}



#top {
   width:1000px;
   margin:0 auto;
   padding:10px;
   background-color:#E7DFCE;
   overflow: hidden;
}

#logo {
  float:left;
  margin-left: 50px;
}

#header {
   width:740px;
}

#menu {
   clear:left;
   width:1000px;
}

/*header情報*/
#header h1 {
   margin-top: 0px;
   margin-bottom: 0px;
   font-size:32px;
   color:#fff;
   line-height:80px;
}
#header h1 a {
   color:#624643;
}
a{
    text-decoration: none;
}
#header h1 a:hover {
   color:#AE847F;
}
#menu ul {
   margin:0;
   padding:0;
}
#menu li {
   float:left;
   color:#333;
   text-align:center;
   list-style-type:none;
}
#menu li a {
   display:block;
   width:200px;
   padding:10px 0;
   color:#fff;
   background-color:#200700;
}
#menu li a.active {
   display:block;
   width:148px;
   padding:10px 0;
   color:#fff;
   background-color:#3f1508;
}
#menu li a:hover {
   color:#ddd;
   background-color:#3f1508;
}
/* 回り込み解除 */
#menu ul:after {
   content:"";
   display:block;
   height:0;
   clear:both;
   visibility:hidden;
}

.info{
  float:left;
  margin-left:100px;
  margin-bottom:30px;
}

.map {
  clear:left;
  float:left;
  margin-left:15px;
}

.twitter {
  float:left;
  margin-left:25px;
}

.youtube {
  position:relative;
  left:25px;
  top:15px;
}

.pig {
  position:fixed;
  top:450px;
  left:1200px;

}
.footer{
  float:left;
  width:1000px;
  height:35px;
  text-align: center;
  background-color: #3f1508;
  margin-top: 30px;
  font-size:16px;
  text-align: center;
  color: white;
  padding-top: 13px;
}

.news{
  margin-top: 100px;
  color:#000000;
  border-bottom:solid #b22222;
  font-size:20px;
}

.news-text{
  margin-bottom: 80px;
  margin-left: 50px;
}

.news2{
  margin-top: 80px;
  margin-bottom: 30px;
  color:#000000;
  border-bottom:solid #b22222;
  font-size:20px;
}

.news-text2{
  margin-bottom: 80px;
  margin-left: 50px;
}

.move_img{
  clear:left;
  margin-top: 40px;
}

.center_img1{
  margin-bottom:-10px;
}

.center_img2{
  margin-bottom:50px;
}
