body{
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, sans-serif;
}
#top {
   width:1000px;
   margin:0 auto;
   padding:10px;
   background-color:#E7DFCE;
   overflow: hidden;
}
#logo {
  float:left;
  margin-left: 50px;
}

#header {
  float:left;
   width:740px;
}


#menu {
   clear:left;
   width:1000px;
}

/*header情報*/
#header h1 {
  float:left;
   margin:0;
   padding:0;
   font-size:32px;
   color:#fff;
   line-height:80px;
}

#header h1 a {
  float:left;
   color:#624643;
}

a{
    text-decoration: none;
}

#header h1 a:hover {
   color:#AE847F;
}

#menu ul {
   margin:0;
   padding:0;
}

#menu li {
   float:left;
   color:#333;
   text-align:center;
   list-style-type:none;
}

#menu li a {
   display:block;
   width:200px;
   padding:10px 0;
   color:#fff;
   background-color:#200700;
}

#menu li a.active {
   display:block;
   width:148px;
   padding:10px 0;
   color:#fff;
   background-color:#3f1508;
}

#menu li a:hover {
   color:#ddd;
   background-color:#3f1508;
}

/* 回り込み解除 */
#menu ul:after {
   content:"";
   display:block;
   height:0;
   clear:both;
   visibility:hidden;
}

/* 商品写真 */
.tuuhan {
  float:left;
  margin-top:30px;
}

.tuuhan2 {
  float:left;
  margin-top:10px;
}

/* 商品テキスト */
.text {
  float:left;
  margin-top:10px;
  margin-left:30px;
}

/* 商品テキスト */
.text2 {
  float:left;
  margin-top:-10px;
  margin-left:30px;
}

/* 商品タイトル */
.Product {
  font-style: oblique;
  font-family:impact,sans-serif;
  font-size:35px;
  font-weight: 600;
  margin-top:30px;
  margin-left:350px;
}

.product2 {
  clear:left;
  font-style: oblique;
  font-family:impact,sans-serif;
  font-size:35px;
  font-weight:600;
  margin-top:30px;
  margin-left:350px;

}

.footer{
  float:left;
  width:1000px;
  height:35px;
  text-align: center;
  background-color: #3f1508;
  margin-top: 70px;
  font-size:16px;
  text-align: center;
  color: white;
  padding-top: 13px;
}
